doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title L, a simple link shortener
	body
		h1 L, a simple link shortener
		p Everyone has to build one of these, right? Well #[a(href='https://gitlab.com/mws/L') here's mine]. It supports custom short link text #[em and] generated links. URLs (unless customly assigned), can be made by either sequential assignment or random assignment, with checks in place so that duplicate links are avoided. Google Analytics or other scripts can be added to the redirect page in no time by editing the template. Everything is generated by Gitlab's CI, for a simple static site with link updates through editing a file in git. 
		if indexlist
			p You can see all of the links currently available right here (another optional feature):
			ul
				each link in links
					li: a(href='https://l.mws.is/' + link.short)= link.short
