doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='refresh' content='0;'+ !{link})
		title Redirecting :P
		script(type='text/javascript')
			| window.location.href='!{link}';
	body
		p If that didn't work, you can click #[a(href!=link) here].